@model IEnumerable<Souq.com.Models.Order>
@{
    Layout = "~/views/Shared/_LayoutAdmin.cshtml";
}

@* @{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@

<div class="col-12">

    

    <div class="bg-secondary rounded h-100 p-4">
        <p>
            <a asp-action="Create" style="color:red">Create New</a>
        </p>
        <h6 class="mb-4">Index</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
                        <th scope="col"> @Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                        
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var count = 1;
                    }
                    @foreach (var item in Model) {
                    <tr>
                        <th scope="row">@count</th>
                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td> @Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            
                        <td>
                               
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger rounded-pill m-2">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger rounded-pill m-2">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger rounded-pill m-2">Delete</a>
                        </td>
                        </tr>
                        count++;
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>